@charset "UTF-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
}
body,html{
	height: 100%;
	width: 100%;
}

.background{
	display: flex;
	background-image: url(images/LocalAttimg.jpg);
	background-size: cover;
	height: 100%;
}
.container{
	display: flex;
	flex-wrap: wrap;
}
.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 600px;
	top: 120px;
}
.menu{
	position: absolute;
	top: 50px;
}
.menu li {
	display: inline-block;
	background-color: ghostwhite;
	border: solid;
	border-radius: 5px;
	border-color: cornflowerblue;
	opacity: .5;
	padding:10px;
	margin: 10px;
}
a {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration: none;
	color: black;
}
.attract_cont{
	display: flex;
	position: absolute;
	right: 50px;
	top: 250px;
	width: 500px;
	height: 250px;
	background-color: aliceblue;
	opacity: .3;
	border: solid;
	border-color: cornflowerblue;
	border-radius: 15px;
}
.attract_cont li{
	display: block;
	padding: 10px;
}
.attract_cont a{
	color: navy;
	font-size: 20px;
}
/*media queries*/
@media screen and (max-width: 1278px){
	.attract_cont{
	display: flex;
	position: absolute;
	right: 50px;
	top: 200px;
	width: 500px;
	height: 250px;
	background-color: aliceblue;
	opacity: .3;
	border: solid;
	border-color: cornflowerblue;
	border-radius: 15px;
}
}
@media screen and (max-width: 1024px){
	.background{
	display: flex;
	background-image: url(images/localatt1024.jpg);
	background-size: cover;
	height: 100%;
}
	.attract_cont{
	display: flex;
	position: absolute;
	right: 50px;
	top: 350px;
	width: 500px;
	height: 250px;
	background-color: aliceblue;
	opacity: .3;
	border: solid;
	border-color: cornflowerblue;
	border-radius: 15px;
}
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 450px;
	top: 200px;
}
}