@charset "UTF-8";
/* CSS Document */
body{
	padding: 0;
	margin: 0;
}
body, html {
	width: 100%;
	height: 100%;
}

.startup {
	display: flex;
	flex-wrap: wrap;
	background-image: url(images/jakemandy.jpg);
	background-size: cover;
	height: 100%;
}
.container{
	display: flex;
	flex-wrap: wrap;
}
.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 600px;
	top: 120px;
}
.mobile-menu{
	display: block;
}
.menu-list{
	position: absolute;
	top: 50px;
}
li {
	display: inline-block;
	background-color: whitesmoke;
	border: solid;
	border-radius: 5px;
	padding:10px;
	margin: 10px;
}
a {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-decoration: none;
	color: black;
}
/*media queries*/
@media screen and (min-width: 1366px){
	.mobile-menu{
		display: block;
	}
	.menu-list{
		display: none;
	}
	.attract_cont a{
		color:black;
}
}
@media screen and (min-width: 1280px){
	.mobile-menu{
		display: block;
	}
	.menu-list{
		display: none;
	}
}
@media screen and (max-width: 1280px){
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 520px;
	top: 120px;
}
	.menu-list{
		display: none;
	}
}
@media screen and (min-width: 1024px){
	.mobile-menu{
		display: block;
	}
	.pageheading{
	left: 50px;
	top: 200px;
	}
	.attract_cont{
	margin-left: 100px;
	}
	.attract_cont a{
		color:black;
}
}
@media screen and (max-width: 1024px){
	.startup {
	display: flex;
	background-image: url(images/JM1024.jpg);
	background-size: cover;
	height: 100%;
}
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 150px;
	top: 180px;
}
	.menu-list{
	display: none;
	}
	.mobile-menu{
		display: block;
	}
	.nav-item{
	background-color: whitesmoke;
	}
}
@media screen and (max-width: 812px){
	.menu-list{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	.startup {
	position: relative;
	display: flex;
	background-image: url(images/moblanscape.jpg);
	background-size: cover;
	height: 100%;
}
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 50px;
	top: 80px;
}
}
@media screen and (max-width: 768px){
	.startup {
	position: relative;
	display: flex;
	background-image: url(images/JM1024.jpg);
	background-size: cover;
	height: 100%;
}
}
@media screen and (max-width: 736px){
	.menu-list{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	.startup {
	position: relative;
	display: flex;
	background-image: url(images/moblanscape.jpg);
	background-size: cover;
	height: 100%;
}
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 50px;
	top: 80px;
}
}
@media screen and (max-width:667px){
	.menu-list{
		display: none;
	}
	.mobile-menu{
		display: block;
	}
	.startup {
	position: relative;
	display: flex;
	background-image: url(images/moblanscape.jpg);
	background-size: cover;
	height: 100%;
}
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 50px;
	top: 80px;
}
}
@media screen and (max-width:414px){
	.menu-list{
		display: none;
	}
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	color: whitesmoke;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 310px;
	top: 370px;
}
	.mobile-menu{
		width: 100%;
		display: block;
	}
	.startup {
	position: relative;
	display: flex;
	background-image: url(images/JM1024.jpg);
	background-size: cover;
	height: 100%;
}
}
@media screen and (max-width:375px){
	.menu-list{
		display: none;
	}
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	color: whitesmoke;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 280px;
	top: 340px;
}
	.mobile-menu{
		width: 100%;
		display: block;
	}
	.startup {
	position: relative;
	display: flex;
	background-image: url(images/JM1024.jpg);
	background-size: cover;
	height: 100%;
}
}
@media screen and (max-width:320px){
	.jakemandy{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	color: whitesmoke;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	left: 230px;
	top: 320px;
}
}