@charset "UTF-8";
/* CSS Document */
body,
html{
	width: 100%;
	height: 100%;
	margin: 0;
}
.w-nav{
	display: none;
}
header, .head{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}
.logo{
	margin: 10px;
	height: 160px;
}
.left-sidebar{
    position: fixed;
	left: 10px;
	width: 180px;
	height: 480px;
	top: 10px;
	background-color: cornsilk;
	border: solid darkblue;
	border-top-right-radius: 40px;
}
.vesp{
	position: relative;
	height: 150px;
	width: auto;
	left: 7px;
	top: 20px;
}
.dropdown1{
	position: relative;
	top: 60px;
	display: flex;
	justify-content: center;
}
#dropdownMenuLink1{
	background-color: skyblue;
}
#dropdownMenuLink1:hover{
	background-color: cadetblue;
}
.dropdown-menu{
	box-shadow: 5px 5px 5px 1px grey;
}
.mod{
	width:  50px;
	position: relative;
	top: 130px;
	left: 60px;
	transition: 1s;
}
.mod:hover{
	transform: scale(2);
    cursor: pointer;
}
.right-sidebar{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 180px;
	height: 480px;
	background-color: cornsilk;
	border: solid darkblue;
	border-top-left-radius: 40px;
}
.lamb{
	position: relative;
	height: 150px;
	width: 150px;
	top: 25px;
	right: -15px;
}
.dropdown2{
	position: relative;
	top: 60px;
	display: flex;
	justify-content: center;
}
#dropdownMenuLink2{
	background-color: slateblue;
}
#dropdownMenuLink2:hover{
	background-color: darkslateblue;
}
.container{
	position: relative;
	padding: 0;
	margin: 0;
	background-color: white;
}
.main-page{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	
}

.classic{
margin: 10px;
}
.pinasco{
	display: flex;
	justify-content: center;
	margin: 20px;
}
.pinasco-img{
	width: 160px;
	height: 63px;
}
.pinasco-text{
	font-family: "Rinse-Regular", "Atrament SemiBold Italic";
	text-align: center;
	margin: 10px;
}
.main-logo-img{
	display: flex;
	justify-content: center;
}
.main-logo{
	width: 400px;
	height: 186px;
	opacity: 0.1;
}


footer{
	display: flex;
	margin: 10px 5px 10px 5px;
	height: 100px;
	top: 20px;
	background-color: cornsilk;
	border: solid darkblue;
}


@media screen and (max-width: 1024px){
	
	.left-sidebar{
		display: none;
	}
	.right-sidebar{
		display: none;
	}
	.w-nav{
		display: block;
	}
	.navbar-brand img{
		width: 30px;
	}
	#logo{
		left: 33%;
	}
	#vesp{
		left: 10%;
	}
	#main-logo{
		left: 190px;
		width: 600px;
	}
}
@media screen and (max-width: 823px){
	.cards{
		margin: 20px 20px;
	}
	.card-img-top{
		padding: 0px 150px;
		margin-top: 20px;
	}
	.card{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px){
	.cards{
		margin: 30px 150px;
	}
	.card-img-top{
		margin: 30px 0px 0px;
		padding: 0px 50px;
	}
	.card{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 575px){
	.cards{
		margin: 50px;
	}
}
@media screen and (max-width: 350px){
	.cards{
		margin: 30px;
	}
	.logo{
		width: 250px;
	}
}